/*
Template Name: Monster Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
@import 'https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900';
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*Preloader*/
.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff; }

.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px); }

/*******************
Main sidebar
******************/
.example p {
  color: red; }

.left-sidebar {
  position: absolute;
  width: 240px;
  height: 100%;
  top: 0px;
  z-index: 20;
  padding-top: 70px;
  background: #fff;
  /*box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);*/ }

.fix-sidebar .left-sidebar {
  position: fixed; }

/*******************
use profile section
******************/
.user-profile {
  text-align: center;
  position: relative; }

.user-profile .profile-img {
  width: 50px;
  margin: 0 auto;
  border-radius: 100%; }

.user-profile .profile-img::before {
  -webkit-animation: 2.5s blow 0s linear infinite;
  animation: 2.5s blow 0s linear infinite;
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  top: 0;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 0; }

@-webkit-keyframes blow {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5); }
  50% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5); }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5); } }

@keyframes blow {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5); }
  50% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5); }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5); } }

.user-profile .profile-img img {
  width: 100%;
  border-radius: 100%; }

.user-profile .profile-text {
  padding: 5px 0;
  position: relative; }

.user-profile .profile-text a {
  color: #54667a; }

.user-profile .dropdown-menu {
  left: 0px;
  right: 0px;
  width: 180px;
  margin: 0 auto; }

/*******************
sidebar footer
******************/
.sidebar-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  transition: 0.2s ease-out;
  width: 240px;
  background: #e8eff0;
  border-top: 1px solid rgba(120, 130, 140, 0.13); }

.sidebar-footer a {
  padding: 15px;
  width: 33.333337%;
  float: left;
  text-align: center;
  font-size: 18px; }

/*******************
sidebar navigation
******************/
.scroll-sidebar {
  padding-bottom: 60px;
  padding-top: 30px; }

.collapse.in {
  display: block; }

.sidebar-nav {
  background: #fff; }

.sidebar-nav ul {
  margin: 0px;
  padding: 0px; }

.sidebar-nav ul li {
  list-style: none; }

.sidebar-nav ul li a {
  color: #54667a;
  padding: 14px 35px 14px 15px;
  display: block;
  font-size: 15px;
  white-space: nowrap; }

.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
  color: #009efb; }

.sidebar-nav ul li a.active {
  font-weight: 400;
  color: #263238; }

.sidebar-nav ul li ul {
  padding-left: 30px; }

.sidebar-nav ul li ul li a {
  padding: 10px 35px 10px 15px; }

.sidebar-nav ul li ul ul {
  padding-left: 20px; }

.sidebar-nav ul li.nav-small-cap {
  font-size: 12px;
  padding: 14px 14px 14px 20px;
  color: #90a4ae;
  font-weight: 500; }

.sidebar-nav ul li.nav-devider {
  height: 1px;
  background: rgba(120, 130, 140, 0.13);
  display: block;
  margin: 20px 0; }

.sidebar-nav > ul > li.active > a {
  border-left: 3px solid #009efb;
  color: #009efb; }

.sidebar-nav > ul > li.active > a i {
  color: #009efb; }

.sidebar-nav > ul > li > a {
  border-left: 3px solid #fff; }

.sidebar-nav > ul > li > a.active, .sidebar-nav > ul > li > a:hover {
  border-left: 3px solid #009efb; }

.sidebar-nav > ul > li > a.active i, .sidebar-nav > ul > li > a:hover i {
  color: #009efb; }

.sidebar-nav > ul > li > a i {
  width: 27px;
  font-size: 21px;
  display: inline-block;
  vertical-align: middle;
  color: #a6b7bf; }

.sidebar-nav > ul > li > a .label {
  float: right;
  margin-top: 6px; }

.sidebar-nav > ul > li > a.active {
  font-weight: 400;
  background: #ffffff;
  color: #009efb; }

.sidebar-nav .has-arrow {
  position: relative; }

.sidebar-nav .has-arrow::after {
  position: absolute;
  content: '';
  width: .4em;
  height: .4em;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #54667a;
  right: 1em;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
  -ms-transform: rotate(-45deg) translate(0, -50%);
  -o-transform: rotate(-45deg) translate(0, -50%);
  transform: rotate(-45deg) translate(0, -50%);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  top: 50%;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }

.sidebar-nav .active > .has-arrow::after,
.sidebar-nav li > .has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded="true"]::after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  -ms-transform: rotate(-135deg) translate(0, -50%);
  -o-transform: rotate(-135deg) translate(0, -50%);
  transform: rotate(-135deg) translate(0, -50%); }

/****************
When click on sidebar toggler and also for tablet
*****************/
@media (min-width: 768px) {
  .mini-sidebar .sidebar-nav #sidebarnav li {
    position: relative; }
  .mini-sidebar .sidebar-nav #sidebarnav > li > ul {
    position: absolute;
    left: 60px;
    top: 59px;
    width: 200px;
    z-index: 1001;
    background: #e8eff0;
    display: none;
    padding-left: 1px; }
  .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul {
    height: auto !important;
    overflow: auto; }
  .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul,
  .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul.collapse {
    display: block; }
  .mini-sidebar .sidebar-nav #sidebarnav > li > a.has-arrow:after {
    display: none; }
  .mini-sidebar .left-sidebar {
    width: 60px; }
  .mini-sidebar .user-profile {
    padding-bottom: 30px;
    width: 60px; }
  .mini-sidebar .scroll-sidebar {
    padding-bottom: 0px;
    position: absolute; }
  .mini-sidebar .hide-menu,
  .mini-sidebar .nav-small-cap,
  .mini-sidebar .sidebar-footer,
  .mini-sidebar .user-profile .profile-text {
    display: none; }
  .mini-sidebar .nav-devider {
    width: 60px; }
  .mini-sidebar .sidebar-nav {
    background: transparent; }
  .mini-sidebar .sidebar-nav #sidebarnav > li > a {
    padding: 14px 15px;
    width: 60px; }
  .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a {
    width: 260px;
    background: #009efb;
    color: #ffffff;
    border-color: #009efb; }
  .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a i {
    color: #ffffff; }
  .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a .hide-menu {
    display: inline; }
  .mini-sidebar .sidebar-nav #sidebarnav > li.active > a {
    border-color: transparent; }
  .mini-sidebar .sidebar-nav #sidebarnav > li.active > a.active {
    border-color: #009efb; } }

@media (max-width: 767px) {
  .mini-sidebar .left-sidebar {
    position: fixed; }
  .mini-sidebar .left-sidebar,
  .mini-sidebar .sidebar-footer {
    left: -240px; }
  .mini-sidebar.show-sidebar .left-sidebar,
  .mini-sidebar.show-sidebar .sidebar-footer {
    left: 0px; } }
