	<!-- Strat Footer Area -->
    <footer class="section-gap">
        <div class="container">
            <div class="row pt-60">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="text-uppercase mb-20">Top Product</h6>
                        <ul class="footer-nav">
                            <li><a href="#">Managed Website</a></li>
                            <li><a href="#">Manage Reputation</a></li>
                            <li><a href="#">Power Tools</a></li>
                            <li><a href="#">Marketing Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="text-uppercase mb-20">Navigation</h6>
                        <ul class="footer-nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Main Features</a></li>
                            <li><a href="#">Offered Services</a></li>
                            <li><a href="#">Latest Portfolio</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="text-uppercase mb-20">Compare</h6>
                        <ul class="footer-nav">
                            <li><a href="#">Works & Builders</a></li>
                            <li><a href="#">Works & Wordpress</a></li>
                            <li><a href="#">Works & Templates</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="text-uppercase mb-20">Quick About</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consecteturadipisicin gelit, sed do eiusmod tempor incididunt.
                        </p>
                        <p>
                            +00 012 6325 98 6542 <br>
                           ADADADA
                        </p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <p class="footer-text m-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->