<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header bkg ">
          <h4 align='center' class="modal-title text-white">ADD DISCUSSION</h4>
          <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
                <form action="http://localhost:3000/createforum" method="POST" class="form-size">
                    <div class='card-body'>

                            <div class='form-group'>          
                                    <label for='address'>Category: </label> 
                                    <select class='form-control' name="category" id="category" required>
                                           <option value="Science">Science</option>
                                           <option value="Technology">Technology</option>
                                           <option value="Engineering">Engineering</option>
                                           <option value="Agriculture and Fisheries">Agriculture and Fisheries</option>
                                           <option value="Mathematics">Mathematics</option>
                                         </select>
                             </div>
                 
                  <div class='form-group'>          
                          <label for='address'>Topic: </label> 
                               <input type="text" class='form-control' name="question" id="question" required>
                  </div>

                  
                      
                  <div class='form-group'>
                          <label for='address'>Details: </label> 
                          <textarea name="description" class='form-control' id='description' cols="50" rows="10" required></textarea>
                  </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
                <button float='right' class='btn success pull-right' id='msb' name='submit' type='submit'>+ ADD</button>
            </form>
        </div>
        
      </div>
    </div>
  </div> 
  <script>
   $(document).on('click','#msb',function() {
          var q=$('#question').val();
          var i=$('#description').val();
          if(q=="" || i==""){
                alert("Please Fill in the Missing Fields!");
            return false;
          }
        });
  </script>