<meta charset="UTF-8">
<title>E-learning</title>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/style.css"/>
<link rel="stylesheet" href="/css/dataTables.boostrap4.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<script src ="/js/jquery.min.js"></script>
<script src = "/js/tether.min.js"></script>
<script src = "/js/bootstrap.min.js"></script>
<script src = "/js/jquery.dataTables.js"></script>
<script src = "/js/dataTables.bootstrap4.js"></script>
<script src = "/js/main.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">