<html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <!-- Tell the browser to be responsive to screen width -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">
        <title><%= siteTitle %> - <%= pageTitle %></title>
        <% include ../partials/head %>
    </head>
    <body class="fix-header fix-sidebar card-no-border">
        <div id="main-wrapper">
     <% include ../partials/navbar %> 
        
   
