
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navabr-dark">
        
      <div class="container">
        <a class="navbar-brand" href="/"> <img src="/img/ched.png"" style="width: 50; height: 50;"/> CHED - eLearning Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="probootstrap-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
            <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
            <li class="nav-item"><a href="HelpDesk" class="nav-link">Help Desk</a></li>
            <li class="nav-item probootstrap-cta probootstrap-seperator"><a href="#" class="nav-link">Login</a></li>
  
          </ul>
         
        </div>
      </div>
    </nav>
