

<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a href="index.html" class="waves-effect"><i class="fas fa-home m-r-10" aria-hidden="true"></i>Dashboard</a>
                </li>
                <li>
                    <a href="pages-profile.html" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Profile</a>
                </li>
                <li>
                    <a href="Forum" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>Forum</a>
                </li>
                <li>
                    <a href="icon-fontawesome.html" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>Users</a>
                </li>
                <li>
                    <a href="map-google.html" class="waves-effect"><i class="fa fa-globe m-r-10" aria-hidden="true"></i>Learning Materials</a>
                </li>
                <li>
                    <a href="AddProgram" class="waves-effect"><i class="fa fa-columns m-r-10" aria-hidden="true"></i>Program</a>
                </li>
                <li>
                    <a href="pages-error-404.html" class="waves-effect"><i class="fa fa-info-circle m-r-10" aria-hidden="true"></i>BAB</a>
                </li>
            </ul>
            <div class="text-center m-t-30">
                <a href="https://wrappixel.com/templates/monsteradmin/" class="btn btn-danger"> Settings</a>
            </div>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>