@font-face {
  font-family: Poppins-Regular;
  src: url('../font/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../font/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../font/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../font/poppins/Poppins-SemiBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('../font/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url('../font/montserrat/Montserrat-ExtraBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../font/montserrat/Montserrat-Bold.ttf'); 
}

#subjects{
  text-align: center;
  background-color: black;
  color: white;
  font-size: 24;
  height: 10%;
}

.headerText{
  color: white;
  font-size:15;
}
.text-color{

  color: #000000;
}
.form-size { 

  }
@font-face {
  font-family: Amaranth;
  src: url("/font/Amaranth-Regular.ttf");
}

.table-settings{
  margin-top:15px;
}
.margin-settings{
  margin-top: 5px;
  font-family: Poppins-Regular;
  font-size: 15px;
  margin-bottom: -5px;
  
  line-height: 1.5;
}


.card-title{
  font-size: 20px;
   font-family: 'Amaranth';
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 0px;
}

body{

 /* background-color: #e8eff0; */
  background-size: cover;
  background-attachment: fixed;
  height:100%;
}



/**table **/
.custab{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
  }

.table{
  background-color:#fff;
}
.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
  }
  /**modal **/
  .center {
      margin-top:50px;   
  }
  
  .modal-header {
      padding-bottom: 5px;
  }
  

/***************
sidebar
***************/
.navbar{
  z-index: 50;
}
.left-sidebar {
    position: absolute;
    width: 240px;
    height: 100%;
    margin-left: -38px;
    top: 0px;
    z-index: 20;
    padding-top: 70px;
    background: #fff;
  }
  
  .sidebar-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    transition: 0.2s ease-out;
    width: 240px;
    background: #e8eff0;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
  }
  .sidebar-footer a {
    padding: 15px;
    width: 33.333337%;
    float: left;
    text-align: center;
    font-size: 18px;
  }
  
  .scroll-sidebar {
    padding-bottom: 60px;
    padding-top: 30px;
  }
  
  .collapse.in {
    display: block;
  }
  
  .sidebar-nav {
    background: #fff;
  }
  .sidebar-nav ul {
    margin: 0 px;
    padding: 0 px;
  }
  .sidebar-nav ul li {
    list-style: none;
  }
  .sidebar-nav ul li a {
    color: #54667a;
    padding: 14px 35px 14px 15px;
    display: block;
    font-size: 15px;
    white-space: nowrap;
  }
  .sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
    color: #009efb;
  }
  .sidebar-nav ul li a.active {
    font-weight: 400;
    color: #263238;
  }
  .sidebar-nav ul li ul {
    padding-left: 30px;
  }
  .sidebar-nav ul li ul li a {
    padding: 10px 35px 10px 15px;
  }
  .sidebar-nav ul li ul ul {
    padding-left: 20px;
  }
  .sidebar-nav ul li.nav-small-cap {
    font-size: 12px;
    padding: 14px 14px 14px 20px;
    color: #90a4ae;
    font-weight: 500;
  }
  .sidebar-nav ul li.nav-devider {
    height: 1px;
    background: rgba(120, 130, 140, 0.13);
    display: block;
    margin: 20px 0;
  }
  .sidebar-nav > ul > li.active > a {
    border-left: 3px solid #009efb;
    color: #009efb;
  }
  .sidebar-nav > ul > li.active > a i {
    color: #009efb;
  }
  .sidebar-nav > ul > li > a {
    border-left: 3px solid #fff;
  }
  .sidebar-nav > ul > li > a.active, .sidebar-nav > ul > li > a:hover {
    border-left: 3px solid #009efb;
  }
  .sidebar-nav > ul > li > a.active i, .sidebar-nav > ul > li > a:hover i {
    color: #009efb;
  }
  .sidebar-nav > ul > li > a i {
    width: 27px;
    font-size: 21px;
    display: inline-block;
    vertical-align: middle;
    color: #a6b7bf;
  }
  .sidebar-nav > ul > li > a .label {
    float: right;
    margin-top: 6px;
  }
  .sidebar-nav > ul > li > a.active {
    font-weight: 400;
    background: #ffffff;
    color: #009efb;
  }
  
  .sidebar-nav .has-arrow {
    position: relative;
  }
  .sidebar-nav .has-arrow::after {
    position: absolute;
    content: "";
    width: 0.4em;
    height: 0.4em;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #54667a;
    right: 1em;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
    -ms-transform: rotate(-45deg) translate(0, -50%);
    -o-transform: rotate(-45deg) translate(0, -50%);
    transform: rotate(-45deg) translate(0, -50%);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    top: 50%;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .sidebar-nav .active > .has-arrow::after,
  .sidebar-nav li > .has-arrow.active::after,
  .sidebar-nav .has-arrow[aria-expanded=true]::after {
    -webkit-transform: rotate(-135deg) translate(0, -50%);
    -ms-transform: rotate(-135deg) translate(0, -50%);
    -o-transform: rotate(-135deg) translate(0, -50%);
    transform: rotate(-135deg) translate(0, -50%);
  }

/**
*dropdown
*/

  /*******************
 Topbar
*******************/



/*============================================================== 
 For all pages 
 ============================================================== */

 #main-wrapper {
  width: 100%;
}

.boxed #main-wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
}
.boxed #main-wrapper .sidebar-footer {
  position: absolute;
}
.boxed #main-wrapper .footer {
  display: none;
}

.page-wrapper {
  background: #fff;
  padding-bottom: 60px;
}

.container-fluid {
  padding: 25px 30px;
  
  margin: 0 auto;
  height:100%;
  width: 100%;
}



/****************
Login
****************/


textarea {
  outline: none;
  border: none;
}
textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }
.bo1 {
  border-bottom: 1px solid #999999;
}

.hov1:hover {
  border-color: #d33f8d;
}
iframe {
	border: none !important;
}
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  position: relative;
  z-index: 1;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #b00020, #FEB845);
  
  opacity: 0.9;
}

.wrap-login100 {
  width: 390px;
  background: transparent;
}



/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login100-form-title {
  font-family: Montserrat-ExtraBold;
  font-size: 24px;
  color: #fff;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
}
.login100-form-title-new {
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
}

/*---------------------------------------------*/
.login100-form-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.login100-form-avatar img {
  width: 100%;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
}
.login-error100{
  border-radius: 5px;
  position: relative;
  width: 100%;
  z-index: 1;
  height: 40px;
  background-color: #fff;
  color: #c0392b;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border:1px solid red;
  font-size: 15px;
}
.loginText-error100{

  color: #c0392b;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  font-size: 15px;
}
.input100 {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.2;
  color: #333333;

  display: block;
  width: 100%;
  background: #fff;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 53px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(0,91,234, 0.6);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  pointer-events: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #00c6fb;
  padding-left: 23px;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #e0e0e0;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #2c3e50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  position: relative;
  z-index: 1;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  top: 0;
  left: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}
button:hover {
	cursor: pointer;
}

.login100-form-btn:hover {
  background: transparent;
  color: #fff;
}

.login100-form-btn:hover:before {
  opacity: 1;
}

/*------------------------------------------------------------------
[ Button sign in with ]*/
.btn-face,
.btn-google {
  font-family: Raleway-Bold;
  font-size: 16px;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 10px) / 2);
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.btn-face {
  color: #3b5998;
}

.btn-face i {
  font-size: 20px;
  margin-right: 10px;
  padding-bottom: 1px;
}

.btn-google {
  color: #555555;
}

.btn-google img {
  width: 19px;
  margin-right: 10px;
  padding-bottom: 1px;
}


.btn-face:hover,
.btn-google:hover {
  border-color: #d33f8d;
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 14px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Montserrat-Bold;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*//////////////////////////////////////////////////////////////////
[ responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.txt1 {
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: #cccccc;
  line-height: 1.4;
}
.p-b-30 {padding-bottom: 30px;}
.p-t-20 {padding-top: 20px;}
.p-b-45 {padding-bottom: 45px;}
.m-b-10 {margin-bottom: 10px;}
.p-t-10 {padding-top: 10px;}
.p-t-25 {padding-top: 25px;}
.p-b-230 {padding-bottom: 230px;}
.sizefull {
width: 100%;
height: 100%;
}
.w-full {width: 100%;}
.h-full {height: 100%;}
.max-w-full {max-width: 100%;}
.max-h-full {max-height: 100%;}
.min-w-full {min-width: 100%;}
.min-h-full {min-height: 100%;}
.top-0 {top: 0;}
.bottom-0 {bottom: 0;}
.left-0 {left: 0;}
.right-0 {right: 0;}

.top-auto {top: auto;}
.bottom-auto {bottom: auto;}
.left-auto {left: auto;}
.right-auto {right: auto;}

/*
*Index
*/
.content-section {
  height: 100vh;
}



.content-section-heading h2 {
  font-family: Poppins-Regular;
  font-size: 1rem;
  color:#2d3436ff;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}
.text-secondary {
  color: #ecb807 !important;
}
.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
 
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}

.index-container{
  background-color:#ecf0f1;

}
/*
*Forum by Dhalsim
*/
#list{
    text-align: left;
    margin: 0 auto;
    width: 80%;
}

#response{
    width: 100%;
    background-color: #efefef;
}

.rate{
    width: 100%;
    height: auto;
    background-color: #efefef;
    border: 1px solid #efefef;
}
.breadcrumb{
  background-color: #f9f9f9;
}  

.breadcrumb-item{
  color: white;
}
.list-group{
  margin: 0 auto;
}

.card-body100{
  background-color:#c31432;
}

/**
Profile
*/
.page-titles .breadcrumb {
  padding: 0px;
  background: transparent;
}
.page-titles .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  font-family: themify;
  color: #a6b7bf;
  font-size: 14px;
}

.page-titles {
  padding-bottom: 20px;
}
.text-themecolor {
  color: #009efb!important;
}
/*
.card {
  margin-bottom: 30px;
}
.card .card-subtitle {
  font-weight: 300;
  margin-bottom: 15px;
  color: #90a4ae;
}
*/
.form-horizontal label{
  margin-bottom: 0px;
  
}
/*Material inputs*/
.form-material .form-group {
  overflow: hidden;
}

.form-material .form-control {
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom, center calc(100% - 1px);
  background-repeat: no-repeat;
  background-size: 0 2px, 100% 1px;
  padding: 0;
  transition: background 0s ease-out 0s;
}

.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus {
  background-image: linear-gradient(#009efb, #009efb), linear-gradient(#d9d9d9, #d9d9d9);
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  float: none;
}

.form-material .form-control.focus, .form-material .form-control:focus {
  background-size: 100% 2px, 100% 1px;
  outline: 0 none;
  transition-duration: 0.3s;
}

.form-control-line .form-group {
  overflow: hidden;
}

.form-control-line .form-control {
  border: 0px;
  border-radius: 0px;
  padding-left: 0px;
  border-bottom: 1px solid #d9d9d9;
}
.form-control-line .form-control:focus {
  border-bottom: 1px solid #009efb;
}
.card-no-border .card{
  border:0px;
}
.card-no-border .sidebar-footer{
  background:#ffffff;
}
.card-no-border .page-wrapper{
  background:#f2f7f8;
}
.card-no-border .left-sidebar{
  box-shadow:1px 0px 20px rgba(0, 0, 0, 0.08);
}
.card-no-border .left-sidebar,.card-no-border .sidebar-nav{
  background:#ffffff;
}
.card-no-border .sidebar-nav>ul>li>a.active{
  background:#f2f7f8;
}
.card-no-border .shadow-none{
  box-shadow:none
}
.card-outline-danger,.card-outline-info,.card-outline-primary,.card-outline-success,.card-outline-warning{
  background:#ffffff
}
.card-no-border .card-group .card{
  border:1px solid rgba(120, 130, 140, 0.13)
}
.card-header{
  background-color:#f5f6fa
}
.css-bar:after{
  z-index:1
}
.css-bar>i{
  z-index:10
}

/*tab */
.tabs {
 
  margin: 0 auto;
  
}
#tab-button {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tab-button li {
  display: table-cell;
  width: 20%;
}
#tab-button li a {
  display: block;
  padding: .5em;
  background: #eee;
  border: 1px solid #ddd;

  color: #000;
  text-decoration: none;
}
#tab-button li:not(:first-child) a {
  border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
  border-bottom-color: transparent;
  background: #fff;
}
.tab-contents {
  padding: .5em 2em 1em;
  border: 1px solid #ddd;
}



.tab-button-outer {
  display: none;
}
.tab-contents {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
  }
}

/*
*Accordion
*/
section{
	padding: 60px 0;
}

#accordion-style-1 h1,
#accordion-style-1 a{
    color:#c23616;
}
#accordion-style-1 .btn-link {
    font-weight: 400;
    color: #c0392b;
    background-color: transparent;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: bold;
	padding-left: 25px;
}

#accordion-style-1 .card-body {
    border-top: 2px solid #c23616;
}

#accordion-style-1 .card-header .btn.collapsed .fa.main{
	display:none;
}

#accordion-style-1 .card-header .btn .fa.main{
	background: #c23616;
    padding: 13px 11px;
    color: #ffffff;
    width: 35px;
    height: 41px;
    position: absolute;
    left: -1px;
    top: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
	display:block;
}
/**
*IconHelpDesk
*/
.service-icon {
  background-color: #fff;
  color: #1D809F;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.text-yellow{
  color: #f1c40f;
}
section{
	padding: 60px 0;
}
section .section-title{
	text-align:center;
	color:#f1c40f;
	margin-bottom:50px;
	text-transform:uppercase;
}
#what-we-do{
	background:#ffffff;
}
#what-we-do .card{
	padding: 1rem!important;
	border: none;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
  transition: .5s all ease;
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card:hover{

}
#what-we-do .card .card-block{
	padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
	color: #007b5e !important;
	font-weight:700;
	text-decoration:none;
}
#what-we-do .card .card-block a i{
	display:none;
	
}
#what-we-do .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	
}
#what-we-do .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #192a56;
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f128";
}
#what-we-do .card .block-2:before{
    content: "\f0e0";
}
#what-we-do .card .block-3:before{
    content: "\f09a";
}
#what-we-do .card .block-4:before{
    content: "\f086";
}
#what-we-do .card .block-5:before{
    content: "\f590";
}
#what-we-do .card .block-6:before{
    content: "\f218";
}
#what-we-do .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

/*Email US*/

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
   background: #f1c40f; 
  position: relative;
  z-index: 10;
}
.wrap-contact100 {
  width: 560px;
  background: #fff;
  border-radius: 3px;
  position: relative;
  margin-top: 40px;
}
.contact100-form-title {
  font-family: Montserrat-Bold;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  width: 100%;
  min-height: 128px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
  
  padding: 30px 15px 30px 15px;
}

.contact100-form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(67,67,67,0.6);
}
.contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 55px 48px 55px;
}
.btn-hide-contact100 {
  font-size: 30px;
  color: #fff;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: -44px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-hide-contact100:hover {
  opacity: 1;
}
.wrap-input200 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  margin-bottom: 15px
}
.label-input200 {
  font-size: 18px;
  color: #999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 100%;
  top: 0;
  left: 2px;
}

.label-input200.rs1 {
  height: 60px;
}

.input200 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #333333;
  line-height: 1.2;
  padding: 0 25px 0 60px;
}

input.input200 {
  height: 55px;
}

textarea.input200 {
  min-height: 162px;
  padding-top: 22px;
  padding-bottom: 15px;
}
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 17px;
}

.contact100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 21px;
  background: #846add;

  box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #333333;
  box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}
.primary-btn {
  line-height: 40px;
  padding: 0 30px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #fff;
  color: #222222;
  display: inline-block;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
       -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
}
.primary-btn:focus {
  outline: none;
}
.primary-btn span {
  color: #2d3436;
  position: relative;
  z-index: 2;
}
.primary-btn:hover .mr-10 {
  margin-right: 20px;
}
.primary-btn.white-bg {
  background: #fff;
  border: 1px solid #eee;
  color: #2d3436;
}
.primary-btn.white-bg span {
  color: #2d3436;
}
.mr-10 {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
       transition: all 0.3s ease 0s;
}
.primary-btn.white-bg:hover {
  background: #fff;
  color: #2d3436;
  border: 1px solid transparent;
}
.primary-btn.white-bg:hover span {
  color: #2d3436;
  -webkit-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
       -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
}
/*
* T E S T
*/

.feature-area {
  background: url(../img/video-bg.jpg) no-repeat center center/cover;
  height: 100vh;
  margin-top:-60px;
}

.feature-area .overlay-bg {
  background: #fff;
}

.feature-area .icon {
  font-size: 100px;
 

  color: #f1c40f;
  background: #ffffff;
  text-align: center;
  padding: 50px;
}
.feature-area .icon:hover{
  color: #ffffff;
  background: #f1c40f;}

.feature-area .icon:hover .lnr {
  color: #fff;
}
.feature-area .lnr {
  color: #f1c40f;
}
.feature-area .desc {
  margin-top: 30px;
}
.feature-area .desc h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 2.5px;
}
.feature-area .desc p {
  color: #555;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.single-feature{
  background-color:#ecf0f1;
  padding:30px;
  margin-bottom:30px;
}
.feature-area .lnr{color:#f1c40f;}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: #222222;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 500;
}

/*
*New Contact area
*/
.contact-area {
  /* background: url(../img/contact-bg.jpg) no-repeat center center/cover; */
  background-color: #192a56;
  color: #fff;
}
.contact-area .overlay-bg {
  background:#dcdde1;
}
.contact-area h2 {
  font-size: 36px;
  font-weight: 100;
}
.contact-area h2 span {
  font-weight: 600;
}
.contact-area p {
  font-size: 14px;
  font-weight: 300;
}

.contact-form ::-webkit-input-placeholder {
  color: #fff;
  font-weight: 300;
}
.contact-form :-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-weight: 300;
}
.contact-form ::-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-weight: 300;
}
.contact-form :-ms-input-placeholder {
  color: #fff;
  font-weight: 300;
}
.contact-form ::-ms-input-placeholder {
  color: #fff;
  font-weight: 300;
}
.contact-form .alert-msg {
  color: #fff !important;
  margin-top: 50px;
  z-index: 1;
}

.common-input {
  border: 1px solid #fff;
  line-height: 48px;
  width: 100%;
  display: block;
  background: transparent;
  padding: 0 25px;
  color: #fff;
}

.common-textarea {
  border: 1px solid #fff;
  width: 100%;
  display: block;
  background: transparent;
  padding: 15px 25px;
  color: #fff;
  height: 150px;
  resize: none;
}
/*
*/
.help {
  position: relative;
  background: white;
}

/*footer*/
.section-gap {
  margin-top:125px;
	padding: 100px 0;
}
footer {
  background: #fff;
}
footer .footer-nav li {
  margin-top: 8px;
}
footer .footer-nav li a {
  color: #777;
}
footer .footer-nav li a:hover {
  color: #6cbb23;
}

.single-footer-widget {
  margin-bottom: 30px;
}
.single-footer-widget h6 {
  color: #000;
}

.footer-bottom {
  border-top: 1px solid #eeeeee;
  padding-top: 40px;
}
.footer-bottom .footer-text {
  color: #777;
}
.footer-bottom .footer-text i {
  color: #6cbb23;
}
.footer-bottom .footer-text a {
  color: #6cbb23 r;
}
.footer-bottom .footer-text a:hover {
  color: #6cbb23 r;
}

.footer-social a {
  width: 30px;
  background: #f9f9ff;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
}
.footer-social a i {
  color: #777;
}
.footer-social a:last-child {
  margin-right: 0;
}
.footer-social a:hover {
  background: #6cbb23;
}
.footer-social a:hover i {
  color: #fff;
}
/*
Navbar
*/
.probootstrap-navabr-dark {
  background: #192a56!important;
 
  left: 0;
  right: 0; }
  .probootstrap-navabr-dark .navbar-nav > .nav-item.probootstrap-cta a {
    color: #fff; }
    .probootstrap-navabr-dark .navbar-nav > .nav-item.probootstrap-seperator {
      position: relative;
      margin-left: 20px;
      padding-left: 20px; }
       .probootstrap-nav {
        padding: 20px 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #c0392b; }
        @media screen and (max-width: 960px) {
          .probootstrap-navabr-dark .navbar-nav > .nav-item.probootstrap-seperator {
            padding-left: 0;
            margin-left: 0; } }
        .probootstrap-navabr-dark .navbar-nav > .nav-item.probootstrap-seperator:before {
          position: absolute;
          content: "";
          top: 10px;
          bottom: 10px;
          left: 0;
          width: 2px;
          background: rgba(255, 255, 255, 0.05); }
          @media screen and (max-width: 960px) {
            .probootstrap-navabr-dark .navbar-nav > .nav-item.probootstrap-seperator:before {
              display: none; } }

.navbar-brand{
  
  line-height: 1.7;
  font-weight: 1 rem;
}
.navbar{
  padding :0rem;
}
.probootstrap-navabr-dark .navbar-nav > .nav-item > .nav-link {
 color:#fff; }

 /*here lies dhalsims style*/
 .bkg{
  background-color: #c0392b;
  color: white;
  
}

.manage{
  background-color: #2c3e50 ;
  color: white;
  font-size: 14;
}

.warning{
  color: white;
  font-size: 14;
}

.modal{
  font-family: 'Poppins', sans-serif;
}

.categ{
  width: 20%;
}
.stat{
  width: 10%;
}
.statis{
  width: 15%;
}
.date{
  width: 16%;
}

.bbg{
  background-color: #fdd050;
  color: white;
}

.success{
  background-color: #7BB128;
  color: white;
}

.facname{
  color: #2e9cdc;
}

.txtar{
  width:100%;
  height: 25%;
  border: 2px solid #192a56;
}



.facdate{
  font-size: 12;
}

.rrc{
  border: 1px solid darkgray;
}

.tbb{
  border-bottom: none;
}

.txtar{
  border: 2.5px solid #192a56;
}

.myd{
  margin: 0 auto;
  width: 70%;
  border: 1px solid grey;
}

#footer-gwt-frame{
  margin-bottom: 0;
}

.insertMaterialTitle, .materialContent {
  margin-top: 50px;
}

.formLearningMaterial, .activityContent, .referenceContent, .videoContent, .fileContent {
  margin-top: 25px;
}

.description, .checkboxLearningMaterial {
  margin-top: 10px;
}

.checkboxLearningMaterial {
  margin-bottom: 10px;
}

.activityTitle, .referenceTitle {
  margin-top: 40px;
}

.formBody {
  margin-bottom: 50px;
}

.insertVideoTitle {
  margin-top: 150px;
  margin-bottom: 10px;
}

.course-content {
  margin-top: 20px;
  transition-property: all;
  transition-duration: 0.50s;
  transition-timing-function: ease;
}

.course-content:hover {
  box-shadow: 0 6px 16px rgba(81, 107,117,.21);
}



/******************************
 *         SIDEBAR            *
 *****************************/

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    max-height: 225px;
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    color: #192a56;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #47748b;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #47748b;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}