<% include ../partials/header %>
<style>
  body,pre,span {font-family: "Poppins", Sans-Serif;}
  h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins", Sans-Serif;
      letter-spacing: 5px;
  }
  
* {box-sizing: border-box}
body {font-family: "Poppins", sans-serif;}

/* Style the tab */
.tab {
    float: left;
    width: auto;
    height: auto;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #c0392b;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #425e7a;
}

/* Style the tab content */
.tabcontent {
  float: left;
  width: 700px;
  border-left: none;
  height: auto;
}
  </style>
<div class='container-fluid'>   
  <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    <div class="w3-display-center w3-padding-large w3-opacity">
      <h1 class="w3-xxlarge w3-center">ABOUT US</h1>
    </div>
  </header>
  <hr>
  
  <!-- Page content -->
  <div class="w3-content" style="max-width:1100px">
    
        <h1 class="w3-center">E-Learning Team</h1><br>

        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'Eldrin')" id="defaultOpen"><h4>Eldrin Augusto</h4></button>
          <button class="tablinks" onclick="openCity(event, 'Rafael')"><h4>Rafael Seva</h4></button>
          <button class="tablinks" onclick="openCity(event, 'Dhalsim')"><h4>Dhalsim delos Reyes</h4></button>
          <button class="tablinks" onclick="openCity(event, 'Jhodyll')"><h4>Jhodyll Joseph Olis</h4></button>
        </div>
        
        <div id="Eldrin" class="tabcontent">

              <img src="/img/eldrin.png" class="w3-round w3-image w3-opacity-min" alt="butangan pag pic" width="150" height="150" style=" margin-left:25px">
             <h3 style=" margin-top:-150px; margin-left:180px"> Eldrin Augusto <br>
              <i style=" margin-left:20px; color:gray; font-size:75%"><a>eldrinjake@yahoo.com<br>&nbsp;&nbsp;(+63) 920 958 4929</a><br></i></h3> 

        </div>

        <div id="Rafael" class="tabcontent">
            
                          <img src="/img/raf.png" class="w3-round w3-image w3-opacity-min" alt="butangan pag pic" width="150" height="150" style=" margin-left:25px">
                         <h3 style=" margin-top:-150px; margin-left:180px"> Rafael Seva <br>
                          <i style=" margin-left:20px; color:gray; font-size:75%"><a href="">Rafaelsevaiv@gmail.com<br>&nbsp;&nbsp;(+63) 995 734 0654</a><br></i></h3>
            
                    
        </div>
        
        <div id="Dhalsim" class="tabcontent">
            
                          <img src="/img/dhals.png" class="w3-round w3-image w3-opacity-min" alt="butangan pag pic" width="150" height="150" style=" margin-left:25px">
                         <h3 style=" margin-top:-150px; margin-left:180px"> Dhalsim delos Reyes <br>
                          <i style=" margin-left:20px; color:gray; font-size:75%"><a href="">ddlr613@gmail.com <br>&nbsp;&nbsp;(+63) 942 374 3050</a><br></i></h3> 
            
                    
        </div>
        
        <div id="Jhodyll" class="tabcontent">
            
                          <img src="/img/olis.png" class="w3-round w3-image w3-opacity-min" alt="butangan pag pic" width="150" height="150" style=" margin-left:25px">
                         <h3 style=" margin-top:-150px; margin-left:180px"> Jhodyll Joseph Olis <br>
                          <i style=" margin-left:20px; color:gray; font-size:75%"><a href="">Jhodyllolis@gmail.com <br>&nbsp;&nbsp;(+63) 905 521 1671</a><br></i></h3> 
            
                    
        </div>
  <hr>
    <!-- Contact Section -->
    <div class="w3-container w3-padding-64" id="contact">
    
      <br><br><br><br><br>
      <hr>
      <h2 class="w3-xxlarge w3-center">Our Address</h2><br>
      <h1 class="w3-center" style="font-size:120%">
          University of San Carlos Talamban Campus,<br>
             Gov. M. Cuenco Avenue, Cebu City, Cebu<br>
            </h1>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2722.3618049040015!2d123.91019747911378!3d10.354074609601021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a99894d1b6ae25%3A0xc2d9b9e99316c59d!2sUniversity+of+San+Carlos+Talamban+Campus!5e0!3m2!1sen!2sph!4v1540830720354" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
  <!-- End page content -->
  </div>
</div>
<script>
  function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
  }
  
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
  </script>