<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h3 class="mx-auto">Add Files</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
            	<% if (nofile) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Holy guacamole!</strong> No files were chosen.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>
                <% if (wrongfile) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Holy guacamole!</strong> Please upload specified files.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>
                <form action="/addfile/id=<%= result[0]['post_id']%>" method="POST" enctype="multipart/form-data" autocomplete="off">
                    <input type="file" name="filename" multiple accept="image/*, .doc, .docx, .pdf, .txt, .xlsx, .pptx">
					<small id="fileHelp" class="form-text text-muted"><i>Upload image, word, powerpoint, excel, pdf or text files</i></small>

                    <button type="submit" class="btn btn-outline-dark">Submit</button>
                </form>
            </div>
        </div>					
    </div>
</div>
</body>