<% include ../partials/header %>
<%include ../partials/sidebar %>

<a class="closeSideBar"></a>
<div class='container'>
        <div class='card'>
         
          <span class="waves-effect margin-settings"><i class="fas fa-home m-r-10" aria-hidden="true"></i>Add Program</span>
          <!-- fas fa-cog-->
          
        <hr>
        
                <form action="http://localhost:3000/AddProgram" method="POST" class="form-size">
                    <div class='card-body'>
                  <table class=' uk-table-responsive '>
                      
                  <div class='form-group'>
                      <tr>
                          <td align='center'><label for='name'>Program Degree</label></td>
                         
                          <td>
                            
                            <select class="form-control" id="sel2" name="prog_deg" required>
                            
                                          <option>Bachelor</option>
                                          <option>Masteral</option>
                                          <option>Doctoral</option>
                                  
                                       
                                       
                                
                             </select>
                        </td>
                      </tr>
                  </div>
                  
                  <div class='form-group'>
                      <tr>
                          
                          <td align='left'><label for='address' >School Name</label></td>
                      
                          
                       
                        <td><input type="text" class='form-control' name="prog_name" id="name" value="University of San Carlos"required disabled></td> 
                          
                      </tr>
                  </div>
                 
                  <div class='form-group'>
                      <tr>
                          <td left='center'><label for='contact'>Program Name</label></td>
                          <td><input type="text" class='form-control' name="prog_name" id="name" required></td> 
                      </tr>
                  </div>
                  <div class='form-group'>
                    <tr>
                        <td align='center'><label for='name'>Steam Category</label></td>
                        <td>
                            
                            <select class="form-control" id="sel2" name="prog_cat" required>
                                          <option>Science</option>
                                          <option>Technology</option>
                                          <option>Engineering</option>
                                          <option>Agriculture</option>
                                          <option>Mathematics</option>
                                          <option>Fishery</option>
                            </select>

                    </tr>
                </div>
                  </table>
                  <br>
                  <button  class='btn btn-primary btn-lg ' id='submit' name='submit' type='submit' >+ Create Program</button>
                  </form>
            </div>
            
        
        
    </div>
    
    

 

                <div class="container">
                        <%if (items.length>0){%>
                        <table class="table table-bordered" id='programTable'>
                        <thead>
                        
                            <tr>
                                <th>Institution</th>
                                <th>Program Name</th>
                                <th>Degree</th>
                                <th>Steam Category</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                            <% items.forEach(function(item,index){ %>
                                <tr>
                                    


                                  
                                        <td id="progEditSchoolName"><%= item.school_name%></td>
                                        <td id="progEditProgramName"><%= item.name%></td>
                                        <td id="progEditDegree"><%= item.degree%></td>
                                        <td id="progEditCategory"><%= item.STEAM_category%></td>
                                        <td class="text-center">
                                            
                                                
                                                <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                          <div class="modal-content">
                                                              <div class="modal-header">
                                                                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                                 
                                                              </div>
                                                              <div class="modal-body">
                                                                  
                                                                  <!-- content goes here -->
                                                                  <form method="POST" action="/event/edit/<%=item.program_id %>">
                                                                    <div class="form-group">
                                                                      
                                                                      <input type="hidden" class="form-control" id="program-id" placeholder="Enter email" name="id">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputPassword1">Institution</label>
                                                                        <input type="text" class="form-control" name="institution" id="program-institution" disabled >
                                                                      </div>
                                                                    <div class="form-group">
                                                                      <label for="exampleInputPassword1">Program Name</label>
                                                                      <input type="text" class="form-control" name="name" id="program-name" >
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputPassword1">Program Degree</label>
                                                                        <!--<input type="text" class="form-control" name="degree" id="program-degree"> -->
                                                                        <select class="form-control" name="degree" id="program-degree" required>
                                                                            <option>Bachelor</option>
                                                                            <option>Masteral</option>
                                                                            <option>Doctoral</option>
                                                                        </select>
                                                                      </div>
                                                                      <div class="form-group">
                                                                        <label for="exampleInputPassword1">STEAM Category</label>
                                                                        <!--<input type="text" class="form-control" name="category" id="program-category">-->
                                                                        <select class="form-control" name="category" id="program-category"required>
                                                                            <option>Science</option>
                                                                            <option>Technology</option>
                                                                            <option>Engineering</option>
                                                                            <option>Agriculture</option>
                                                                            <option>Mathematics</option>
                                                                            <option>Fishery</option>
                                                                        </select>
                                                                   </div>
                                                                    
                                                                    
                                                                    <button type="submit" class="btn btn-primary closeModal" >Submit</button>
                                                                  </form>
                                                      
                                                              </div>
                                                              <div class="modal-footer">
                                                    
                                                              </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="center"><button data-toggle="modal" data-id="<%=item.program_id%>" data-institution="<%=item.school_name%>" data-name="<%=item.name%>" data-degree="<%= item.degree%>" data-category="<%= item.STEAM_category%>" data-target="#squarespaceModal" class="btn btn-info btn-xs center-block edit-program"><i class="fas fa-edit"></i>Edit</button>
                                                        
                                                        <button data-toggle="modal" data-id="<%=item.program_id%>" data-target="#deleteProgram" class="btn btn-danger btn-xs center-block delete-program"><i class="fas fa-trash-alt"></i>Delete</button>
                                                        <div class="modal fade" id="deleteProgram" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                              <div class="modal-content">
                                                                <div class="modal-header">
                                                                  <h5 class="modal-title" id="exampleModalLabel">Confirm Dialog</h5>
                                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                  </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                  Are you sure you want to delete the program?
                                                                </div>
                                                                <div class="modal-footer">
                                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                  <a href="/event/delete/<%=item.program_id %>"  class="btn btn-danger btn-xs center-block delete-program">Delete</a>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                    
                                                    
                                                    
                                                    
                                                    </div><!--igit-->
                                                   
                                    </tr>     

                           <% }); %>
                               
                                
                        </table>
                    <%}else{%>
                        <p>There are no records yet.</p>
                        <%}%>
                        </div>
                    </div>
       

</div>



 <script>
    $(document).on("click",".edit-program",function (){
        var program_id = $(this).data('id');
        var school_name = $(this).data('institution');
        var program_name = $(this).data('name');
        var degree = $(this).data('degree');
        var category = $(this).data('category');
        console.log(category);
        $(".modal-body #program-id").val(program_id);
        $(".modal-body #program-institution").val(school_name);
        $(".modal-body #program-name").val(program_name);
        $(".modal-body #program-degree").val(degree);
        $(".modal-body  #program-category").val(category);
    });
</script>
<script>
    $(".closeModal").click(function(){
       $("#squarespaceModal").modal('hide');       

       
    });
</script>
<script>
$('#openBtn').click(function(){
	$('#myModal').modal({show:true})
});
</script>