<% include ../partials/header %>
<div class='container-fluid'>   
        <div class="forumcont">

            </div>
    <h1 align='center'><b>FORUM</b></h1>
    <a align='right'><button class='btn btn-sm success float-right' data-toggle="modal" data-target="#myModal">+ ADD DISCUSSION</button></a>
    <ul class="nav nav-tabs border-white">
            <li class="nav-item ">
              <a class="nav-link text-dark" href="/forum">All Discussions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/your_forum">Your Discussions</a>
            </li>
          </ul>
    <div class='row'>
       
        <div class="col-lg-12">
                <div class='card'>
                    <div class="card-body myd bg-light">
                        <button class="btn manage" onclick="goBack()">Cancel</button>
                        <h2 class="card-title" align='center'>Manage Your Discussion</h2>
                        <form action="/updateforum" method="POST" class="form-size" id='form'>
                            <div class='form-group'>          
                                <label for='address'><b>Category: </b> </label> 
                                <select class='form-control' name="category" id="category">
                                        <option value="<%= items[0].category %>" disabled selected><%= items[0].category %></option>
                                       <option value="Science">Science</option>
                                       <option value="Technology">Technology</option>
                                       <option value="Engineering">Engineering</option>
                                       <option value="Agriculture and Fisheries">Agriculture and Fisheries</option>
                                       <option value="Mathematics">Mathematics</option>
                                     </select>
                         </div>
                            <div class='form-group'>
                                <input type="hidden" class='form-control' name="id" id="id" value='<%= items[0].discussionId %>' required>
                            </div>
                            <div class='form-group'>
                                <label for="question"><b>Topic</b></label>
                                <input type="text" class='form-control' name="question" id="question" value='<%= items[0].question %>'' required>
                            </div>
                            <div class='form-group'>
                                 <label for="question"><b>Description</b></label>
                                <textarea name="description" class='form-control' id='description' cols="50" rows="10" required><%= items[0].description %></textarea>
                            </div>
                            
                            <button class='btn success  float-right upd' id='msb2' name='submit' type='submit'><strong>UPDATE</strong></button>
                        </form>
                        <% if(items[0].status=='Open'){ %>
                            <a href="/deleteforum?id=<%=items[0].discussionId %>"><button class='btn btn-danger  del'><strong>DELETE</strong></button></a>
                        <% } %>
                    </div>
                 </div>
                </div>

        </div>
        <iframe src="//gwhs.i.gov.ph/gwt-footer/footer-source.html" id="footer-gwt-frame" width="100%" scrolling="no" style="border: 0px; min-height: 188px; margin-bottom: 3px; margin-top: 5%; overflow: hidden; height: auto;"></iframe>  
    </div>

</div>
<% include ../partials/forum_modal %>
</body>
<script>
$(".del").on("click",function(){
     return confirm("Delete Discussion?");
 });

 function goBack() {
    window.history.back();
}

 $(document).on('click','#msb2',function() {
          var q=$('#question').val();
          var i=$('#description').val();
          if(q=="" || i==""){
                alert("Please Fill in the Missing Fields!");
            return false;
          }
        });
</script>
   