


<% include ../partials/header %>
<div class='container-fluid'> 
  <h1 align='center'><b>FORUM</b></h1>
  <a align='right'><button class='btn btn-sm success float-right' data-toggle="modal" data-target="#myModal">+ ADD DISCUSSION</button></a>
  <ul class="nav nav-tabs ">
      <li class="nav-item">
        <a class="nav-link active bg-light" href="">All Discussions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark border-light" href="/your_forum">Your Discussions</a>
      </li>
    </ul>
  <div class='row'>
      <div class="col-lg-12">
              <div class='card bg-light' id="mydiv">
                  <div class="card-body">
                      <form class="float-right" action="/forums/search" method="get">
                            <input type="text" name="keyword" class="form-control-sm" id='kw' required>
                            <button class='btn btn-sm' type='submit' id='sbm'>Search</button>
                        </form>
                        <h4>ALL DISCUSSIONS</h4>
                        <br>
                             <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <select class='form-control clearfix' name='category' onchange="location = this.value;" >
                                            <option value="" disabled selected>
                                                <% if(filter=="All"){  %>
                                                    Category
                                                 <% }else{ %>
                                                   Category : <%= filter %>
                                              <% } %>
                                            </option>
                                            <option value="/forum?cat=Science&status=<%=status%>&ord=<%=ord%>">Science</option>
                                            <option value="/forum?cat=Technology&status=<%=status%>&ord=<%=ord%>">Technology</option>
                                            <option value="/forum?cat=Engineering&status=<%=status%>&ord=<%=ord%>">Engineering</option>
                                            <option value="/forum?cat=Agriculture and Fisheries&status=<%=status%>&ord=<%=ord%>">Agriculture and Fisheries</option>
                                            <option value="/forum?cat=Mathematics&status=<%=status%>&ord=<%=ord%>">Mathematics</option>
                                            <option value="/forum?status=<%=status%>&ord=<%=ord%>" title='clear'>-- Clear Filter --</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <select class='form-control clearfix' name='category' onchange="location = this.value;" >
                                        <option value="" disabled selected>
                                            <% if(status=="Both"){  %>
                                                Status
                                             <% }else{ %>
                                               Status : <%= status %>
                                          <% } %>
                                        </option>
                                        <option value="/forum?status=Open&cat=<%=filter%>&ord=<%=ord%>" class="text-success">Open</option>
                                        <option value="/forum?status=Closed&cat=<%=filter%>&ord=<%=ord%>" class="text-danger">Closed</option>
                                        <option value="/forum?cat=<%=filter%>&ord=<%=ord%>" title='clear'>-- Clear Filter --</option>
                                  </select>
                                </div>
                                <div class="col-lg-3">
                                    <select class='form-control' name="ord" onchange="location = this.value;" >
                                        <option value="" disabled selected>
                                          <% if(ord=='forum_discussion.date_added asc'){  %>
                                            Sort By : Oldest
                                        <% }else if(ord=='forum_discussion.rating desc'){  %>
                                            Sort By : Upvotes
                                        <% }else{  %>
                                            Sort By : Newest
                                        <% } %>
                                        </option>
                                        <option value="/forum?cat=<%=filter%>&status=<%=status%>&ord=forum_discussion.rating desc">Upvotes</option>
                                        <option value="/forum?cat=<%=filter%>&status=<%=status%>&ord=forum_discussion.date_added desc">Newest</option>
                                        <option value="/forum?cat=<%=filter%>&status=<%=status%>&ord=forum_discussion.date_added asc">Oldest</option>
                                  </select>
                                  </div>
                                  <div class="col-lg-3">
                                      <ul class="pagination float-right text-dark" >
                                          <%if(parseInt(page)-2 > 0 && parseInt(page)-1 > 0){%>
                                            <li class="page-item text-dark">
                                              <a class="page-link " href="/forum?page=<%= parseInt(page) - 1 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>">Previous</a>
                                            </li>
                                            <li class="page-item "><a class="page-link " href="/forum?page=<%= parseInt(page) - 2 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>"><%= parseInt(page) - 2 %></a></li>
                                           <li class="page-item "><a class="page-link " href="/forum?page=<%= parseInt(page) - 1 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>"><%= parseInt(page) - 1 %></a></li>
                                          <%}else if(parseInt(page)-1 > 0){%>
                                            <li class="page-item">
                                              <a class="page-link " href="/forum?page=<%= parseInt(page) - 1 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>">Previous</a>
                                            </li>
                                           <li class="page-item "><a class="page-link " href="/forum?page=<%= parseInt(page) - 1 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>"><%= parseInt(page) - 1 %></a></li>
                                          <%}%>
                                          <li class="page-item active "><a class="page-link bg-secondary" ><%= parseInt(page) %></a> </li>
                                          <%if(mpage + 1 > parseInt(page) + 2 && max==items.length){%>
                                          <li class="page-item "><a class="page-link " href="/forum?page=<%= parseInt(page) + 1 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>"><%= parseInt(page) + 1 %></a></li>
                                          <li class="page-item "><a class="page-link " href="/forum?page=<%= parseInt(page) + 2 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>"><%= parseInt(page) + 2 %></a></li>
                                          <li class="page-item">
                                            <a class="page-link" href="/forum?page=<%= parseInt(page) + 1 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>">Next</a>
                                          </li>
                                          <%}else if(mpage + 1 > parseInt(page) + 1 && max==items.length){ %>
                                            <li class="page-item "><a class="page-link " href="/forum?page=<%= parseInt(page) + 1 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>"><%= parseInt(page) + 1 %></a></li>
                                            <li class="page-item">
                                              <a class="page-link" href="/forum?page=<%= parseInt(page) + 1 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>">Next</a>
                                            </li>
                                          <%}%>
                                        </ul>
                                    </div>
                              </div> 
                           <table class="table">
                             <thead class="bkg">
                               <tr>
                                  <th>CATEGORY</th>
                                  <th>TOPIC</th>
                                  
                                  <th>STATISTICS</th>
                                  <th>STATUS</th>
                               </tr>
                             </thead>
                             <tbody id="tbod">
                               <% if(items.length!=0){  %>
                                <% items.forEach(function(item, index) { %>
                                <tr class="bod">
                                    <td class="categ"><%=  item.category %></td>
                                    <td>
                                        <h5 class="text-info"><a href="/forum_details?id=<%= item.discussionId %>"><strong><%=  item.question %></strong></a></h5>
                                        <p class="facdate">By: <b class="facname"><%=  item.fName %> <%=  item.lName %></b> - <%=  item.date.toDateString() %> at <%=item.date.getHours()%>:<%=item.date.getMinutes()%></p>
                                        </a>
                                      </td>
                                     
                                    <td class="statis">
                                        <%=  item.rate %> Upvotes<br>
                                        <%=  item.comcount%> Responses
                                    </td>
                                    <td class="stat">
                                      <%if(item.status=='Closed'){%>
                                        <p class="text-danger"><%=  item.status %></p>
                                      <% }else{  %>
                                        <p class="text-success"><%=  item.status %></p>
                                      <% } %>
                                    </td>
                                 
                                 </tr>
                                 <% }); %>
                                 <% }else{  %>
                                    <tr class="bod">
                                      <td colspan="5" align='center'>
                                        <h4>No Results Available</h4>
                                      </td>
                                    </tr>
                                 <% } %>
                             </tbody>
                            </table>
                                <ul class="pagination float-right" >
                                    <%if(parseInt(page)-2 > 0 && parseInt(page)-1 > 0){%>
                                      <li class="page-item">
                                        <a class="page-link " href="/forum?page=<%= parseInt(page) - 1 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>">Previous</a>
                                      </li>
                                      <li class="page-item "><a class="page-link " href="/forum?page=<%= parseInt(page) - 2 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>"><%= parseInt(page) - 2 %></a></li>
                                     <li class="page-item "><a class="page-link " href="/forum?page=<%= parseInt(page) - 1 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>"><%= parseInt(page) - 1 %></a></li>
                                    <%}else if(parseInt(page)-1 > 0){%>
                                      <li class="page-item">
                                        <a class="page-link " href="/forum?page=<%= parseInt(page) - 1 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>">Previous</a>
                                      </li>
                                     <li class="page-item "><a class="page-link " href="/forum?page=<%= parseInt(page) - 1 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>"><%= parseInt(page) - 1 %></a></li>
                                    <%}%>
                                    <li class="page-item active"><a class="page-link bg-secondary" ><%= parseInt(page) %></a> </li>
                                    <%if(mpage + 1 > parseInt(page) + 2 && max == items.length ){%>
                                    <li class="page-item "><a class="page-link " href="/forum?page=<%= parseInt(page) + 1 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>"><%= parseInt(page) + 1 %></a></li>
                                    <li class="page-item "><a class="page-link " href="/forum?page=<%= parseInt(page) + 2 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>"><%= parseInt(page) + 2 %></a></li>
                                    <li class="page-item">
                                      <a class="page-link" href="/forum?page=<%= parseInt(page) + 1 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>">Next</a>
                                    </li>
                                    <%}else if(mpage  >= parseInt(page)  && max == items.length){ %>
                                      <li class="page-item "><a class="page-link " href="/forum?page=<%= parseInt(page) + 1 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>"><%= parseInt(page) + 1 %></a></li>
                                      <li class="page-item">
                                        <a class="page-link" href="/forum?page=<%= parseInt(page) + 1 %>&cat=<%=filter%>&status=<%=status%>&ord=<%=ord%>">Next</a>
                                      </li>
                                    <%}%>
                                  </ul>
                                  <div class="clearfix">

                                  </div>
                        </div>
                   </div>
              </div>
       </div>
       <iframe src="//gwhs.i.gov.ph/gwt-footer/footer-source.html" id="footer-gwt-frame" width="100%" scrolling="no" style="border: 0px; min-height: 188px; margin-bottom: -3px; margin-top: 5%; overflow: hidden; height: auto;"></iframe>
  </div>
  
</div>

    

<% include ../partials/forum_modal %>
</body>

  

      <script>
        $(document).ready(function() {
          var table = $('#example').dataTable( {
          "columnDefs": [
            { "width": "30%", "targets": 1},
            { "width": "10%", "targets": 2},
            { "width": "15%", "targets": 3}
          ],
          "order": [[ 5, "desc" ]]
        } );
        
        } );
        
        $(document).on('click','#sbm',function() {
          var kw=$('#kw').val();
          if(kw==""){
                alert("Please Enter a Keyword!");
                document.getElementById("#kw").style.borderColor = "red";
            return false;
          }
        });
        
        setInterval(function(){
            $('#tbod').load(document.URL +  ' .bod');
        },5000);
        </script>