<% include ../partials/header %>
<div class='container-fluid' id='thisdiv'>  
        <div class="forumcont">

            </div>
    <h1 align='center'><b>FORUM</b></h1>
    <a align='right'><button class='btn btn-sm success float-right' data-toggle="modal" data-target="#myModal">+ ADD DISCUSSION</button></a>
    <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link text-dark" href="/forum">All Discussions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/your_forum">Your Discussions</a>
            </li>
          </ul>
    <div class='row'>
        <div class="col-lg-12">
                <div class="card">
                    <div class="card-body rrc">
                        <div class="row">
                             <% if(items[0].discussionId!=null){ %>
                                <div class="col-md-8">
                                        <% if(items[0].status=='Open'){ %>
                                            <% if(session == items[0].facultyId){ %>
                                                <a  href="/markclosed?id=<%=items[0].discussionId %>"><button class="btn btn-sm bbg upd">MARK AS CLOSED</button></a>
                                             <% }else{  %>
                                                <button class="btn btn-sm disabled ">OPEN FOR REPLIES</button>
                                             <% } %>
                                         <% }else{ %>
                                             <button class="btn btn-sm disabled ">CLOSED</button>
                                        <% } %>
                    
                                        <% if(items[0].facultyId==session){  %>
                                            <a  href="/edit_forum?id=<%=items[0].discussionId %>"><button class="btn btn-sm manage">MANAGE</button></a>
                                        <% } %>
                                     <h2 class="card-title"><strong> <%=  items[0].question %></strong></h2>
                                     <div class="card">
                                        <div class="card-body">
                                             <p class="mb-2"><%=  items[0].description %></p>
                                        </div>
                                     </div>
                                     
                               </div>
                                <div class="col-md-4 bg-light clearfix">
                                    <table class="table">
                                        <thead class="bkg text-white">
                                            <tr align='center'><th colspan="2" >DETAILS</th></tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td >Posted By:</td>
                                            <td>
                                                <b>
                                                <% if(items[0].facultyId==session){ %> 
                                                    You
                                                 <% }else{ %>
                                                    <%=  items[0].fName %> <%=  items[0].lName %>
                                                <% } %>
                                                 </b>
                                            </td>
                                        </tr>
                                        <tr>
                                                <td>Category:</td>
                                                <td><b><%=  items[0].category %></b></td>
                                        </tr>
                                        <tr>
                                                <td>Posted On:</td>
                                                <td><b><%=  items[0].date_added.toDateString() %> at <%=  items[0].date_added.getHours() %>:<%=  items[0].date_added.getMinutes() %></b></td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                             <% }else{  %>
                                <div class="col-md-8">
             
                                     <h2 class="card-title"><strong> ERROR</strong></h2>
                                     <div class="card">
                                        <div class="card-body">
                                             <p class="mb-2">This Topic May have been deleted</p>
                                        </div>
                                     </div>
                                     
                               </div>
                                <div class="col-md-4 bg-light clearfix">
                                    <table class="table">
                                        <thead class="bkg text-white">
                                            <tr align='center'><th colspan="2" >DETAILS</th></tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td >Posted By:</td>
                                            <td>
                                                <b>
                                               
                                                 </b>
                                            </td>
                                        </tr>
                                        <tr>
                                                <td>Category:</td>
                                                <td><b></b></td>
                                        </tr>
                                        <tr>
                                                <td>Posted On:</td>
                                                <td><b></b></td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                             <% } %>
                             
                        </div>
                        <br>
                        <% if(items5[0].check==0){  %>
                            <a href="/rateforum?id=<%= items[0].discussionId %>&ord=<%=sort%>&page=<%=page%>&help=<%=helpful%>" id='up'><button class="btn btn-sm"><div id="count1">★ Like <%= items[0].rating %></div></button></a> 
                         <% }else{  %>
                             <a href="/unrateforum?id=<%= items[0].discussionId %>&ord=<%=sort%>&page=<%=page%>&help=<%=helpful%>" id='up'><button class="btn btn-sm success active ">★ Unlike <%= items[0].rating %></button></a> 
                         <% } %> 
                         <% if(items[0].status=='Open'){ %>
                         <a><button class='btn btn-sm float-right' id='rply' onclick="myFunction()">✎ Reply</button></a>
                         <% } %>
                    </div>
                
                </div>
         
                     <% if(items[0].status=='Open'){ %>
                    <div class="card clearfix " id="rrr" style="display:none;">
                        <div class="card-body">
                                <form  action="/comment" method="POST" class="form-size ">
                                    <div class="form-group">
                                        <input type="hidden" class='form-control' name="id" id="id" value="<%= items[0].discussionId %>" required>
                                    </div>
                                    <div class='form-group'>              
                                        <textarea class='form-control txtar' name="comment" id="comment" placeholder="Write your response here" required></textarea>
                                    </div>
                                        <button  class='btn btn-sm success text-white float-right' id='comm' name='submit' type='submit'>✎ Post Response</button>
                                </form>
                        </div>
                        
                        <br>
                        <br>

                    </div>
                    <% } %>
                  <br>
                 <div class='card clearfix bg-light' id='comments'>
                        <div class="card-body rrc">
                                <h3 class='card-title '><div id='count2'>RESPONSES (<%= items3[0].cnt %>)</div></h3>
                                <% if(items3[0].cnt>1){  %>
                                    <div class="row">
                                        <div class="col-lg-3">
                                                <select class='form-control' id='srt' name="ord" onchange="location = this.value;" >
                                                        <option value="" disabled selected>
                                                            <% if(sort=='date_added asc'){  %>
                                                                Sort By : Oldest
                                                            <% }else if(sort=='date_added desc'){  %>
                                                                Sort By : Newest
                                                            <% }else{  %>
                                                                Sort By : Upvotes
                                                            <% } %>
                                                        </option>
                                                        <option value="/forum_details?id=<%= items[0].discussionId %>&help=<%=helpful%>#srt">Upvotes</option>
                                                        <option value="/forum_details?id=<%= items[0].discussionId %>&help=<%=helpful%>&ord=date_added desc#srt">Newest</option>
                                                        <option value="/forum_details?id=<%= items[0].discussionId %>&help=<%=helpful%>&ord=date_added asc#srt">Oldest</option>
                                                  </select>
                                        </div>
                                        <div class="col-lg-3">
                                                <select class='form-control' id='srt' name="ord" onchange="location = this.value;" >
                                                        <option value="" disabled selected>
                                                            <% if(helpful==1){  %>
                                                                Filter : Helpful
                                                            <% }else{  %>
                                                                Filter : All
                                                            <% } %>
                                                        </option>
                                                        <option  value="/forum_details?id=<%= items[0].discussionId %>&help=1&ord=<%=sort%>#srt">Helpful</option>
                                                        <option  value="/forum_details?id=<%= items[0].discussionId %>&ord=<%=sort%>#srt">All</option>
                                                  </select>
                                        </div>
                                        <div class="col-lg-3">

                                         </div>
                                         <div class="col-lg-3">
                                                <ul class="pagination float-right" >
                                                        <%if(parseInt(page)-2 > 0 && parseInt(page)-1 > 0){%>
                                                          <li class="page-item">
                                                            <a class="page-link " href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) - 1 %>&help=<%=helpful%>&ord=<%=sort%>#srt">Previous</a>
                                                          </li>
                                                          <li class="page-item "><a class="page-link " href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) - 2 %>&help=<%=helpful%>&ord=<%=sort%>#srt"><%= parseInt(page) - 2 %></a></li>
                                                         <li class="page-item "><a class="page-link " href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) - 1 %>&help=<%=helpful%>&ord=<%=sort%>#srt"><%= parseInt(page) - 1 %></a></li>
                                                        <%}else if(parseInt(page)-1 > 0){%>
                                                          <li class="page-item">
                                                            <a class="page-link " href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) - 1 %>&help=<%=helpful%>&ord=<%=sort%>#srt">Previous</a>
                                                          </li>
                                                         <li class="page-item "><a class="page-link " href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) - 1 %>&help=<%=helpful%>&ord=<%=sort%>#srt"><%= parseInt(page) - 1 %></a></li>
                                                        <%}%>
                                                        <li class="page-item active"><a class="page-link bg-secondary" ><%= parseInt(page) %></a> </li>
                                                        <%if(mpage + 1 > parseInt(page) + 2 && max==items2.length ){%>
                                                        <li class="page-item "><a class="page-link " href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) + 1 %>&help=<%=helpful%>&ord=<%=sort%>#srt"><%= parseInt(page) + 1 %></a></li>
                                                        <li class="page-item "><a class="page-link " href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) + 2 %>&help=<%=helpful%>&ord=<%=sort%>#srt"><%= parseInt(page) + 2 %></a></li>
                                                        <li class="page-item">
                                                          <a class="page-link" href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) + 1 %>&help=<%=helpful%>&ord=<%=sort%>#srt">Next</a>
                                                        </li>
                                                        <%}else if(mpage + 1 > parseInt(page) + 1 && max==items2.length){ %>
                                                          <li class="page-item "><a class="page-link " href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) + 1 %>&help=<%=helpful%>&ord=<%=sort%>#srt"><%= parseInt(page) + 1 %></a></li>
                                                          <li class="page-item">
                                                            <a class="page-link" href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) + 1 %>&help=<%=helpful%>&ord=<%=sort%>#srt">Next</a>
                                                          </li>
                                                        <%}%>
                                                      </ul>
                                         </div>
                                    </div>
                                    <br>

                                    <% } %>
                                <div id='mydiv' class="clearfix">
                                <% items2.forEach(function(item2, index) { %> 
                                    <div class="card llc" id='<%=item2.comID%>'>
                                        <div class="card-header bkg text-white">
                                                Posted On : <b><%=  item2.date_added.getMonth() %>-<%=  item2.date_added.getDate() %>-<%=  item2.date_added.getFullYear() %> at <%=item2.date_added.getHours()%>:<%=item2.date_added.getMinutes()%></b>
                                                <% if(item2.isHelpful == 0 && items[0].facultyId==session && item2.facultyId!=session){  %>
                                                    <a href="/markhelpful?id=<%= item2.comID %>&did=<%= items[0].discussionId %>&page=<%=parseInt(page)%>&ord=<%=sort%>#<%=item2.comID%>"><button class="btn btn-sm  float-right">✓ MARK AS HELPFUL</button></a>
                                                <% }else if(item2.isHelpful == 1 && items[0].facultyId==session && item2.facultyId!=session){  %>
                                                    <a href="/unmarkhelpful?id=<%= item2.comID %>&did=<%= items[0].discussionId %>&page=<%=parseInt(page)%>&ord=<%=sort%>#<%=item2.comID%>"><button class="btn btn-sm  success active float-right">✓ HELPFUL (Unmark)</button></a>
                                                <% }else if(item2.isHelpful == 1 && items[0].facultyId!=session){ %>
                                                    <button class="btn btn-sm  success  active  float-right">✓ MARKED AS HELPFUL</button>
                                                <% } %>
                                        </div>
                                        <div class="card-body rrc">
                                               
                                                
                                              
                                                <div class="card clearfix">
                                                    
                                                    <div class="card-body">
                                                            <p class="mb-2"><%=  item2.comment %></p>
                                                    </div>
                                                </div>

                                                <div class="float-right">By: <b><%=  item2.fName %> <%=  item2.lName %>

                                                    <% if(item2.facultyId==session){  %>
                                                        (You)
                                                    <% } %>

                                                     </b>
                                                 </div>
                                                 <br>
                                                 <br>
                                                 <% var ctr = 0; %>
                                                <% items6.forEach(function(item6, index) { %> 
                                                      <% if(item6.comm == item2.comID && item6.userID == session){  %>
                                                        <% ctr++ %>
                                                    <% } %>
                                                <% }); %>
                                                <% if(ctr!=0 && item2.rating!=0){  %>
                                                    <a href="/ratecomment?id=<%= item2.comID %>&did=<%= items[0].discussionId %>&page=<%=parseInt(page)%>&help=<%=helpful%>&ord=<%=sort%>#<%=item2.comID%>"><button class="btn btn-sm success active">★ Unlike <%= item2.rating %></button></a> 
                                                <% }else{  %>
                                                     <a href="/ratecomment?id=<%= item2.comID %>&did=<%= items[0].discussionId %>&page=<%=parseInt(page)%>&help=<%=helpful%>&ord=<%=sort%>#<%=item2.comID%>"><button class="btn btn-sm  ">★ Like <%= item2.rating %></button></a> 
                                                <% } %>
                                             
                                                <div class="float-right">
                                                    <% if(item2.facultyId==session){  %>
                                                        <a href="/delete_comment?id=<%=item2.comID%>&help=<%=helpful%>&ord=<%=sort%>#srt"><button class="btn bkg btn-sm del" >X Delete</button></a>
                                                    <% } %>
                                                </div>
                    
                                         </div>
                                        <div class="bg-light">
                                            <br> 
                                         </div>
                                 </div> 
                                       
                                <% }); %>
                                
                            </div>
                            <ul class="pagination float-right" >
                                    <%if(parseInt(page)-2 > 0 && parseInt(page)-1 > 0){%>
                                      <li class="page-item">
                                        <a class="page-link " href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) - 1 %>&help=<%=helpful%>&ord=<%=sort%>#srt">Previous</a>
                                      </li>
                                      <li class="page-item "><a class="page-link " href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) - 2 %>&help=<%=helpful%>&ord=<%=sort%>#srt"><%= parseInt(page) - 2 %></a></li>
                                     <li class="page-item "><a class="page-link " href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) - 1 %>&help=<%=helpful%>&ord=<%=sort%>#srt"><%= parseInt(page) - 1 %></a></li>
                                    <%}else if(parseInt(page)-1 > 0){%>
                                      <li class="page-item">
                                        <a class="page-link " href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) - 1 %>&help=<%=helpful%>&ord=<%=sort%>#srt">Previous</a>
                                      </li>
                                     <li class="page-item "><a class="page-link " href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) - 1 %>&help=<%=helpful%>&ord=<%=sort%>#srt"><%= parseInt(page) - 1 %></a></li>
                                    <%}%>
                                    <li class="page-item active"><a class="page-link bg-secondary" ><%= parseInt(page) %></a> </li>
                                    <%if(mpage + 1 > parseInt(page) + 2 && max==items2.length ){%>
                                    <li class="page-item "><a class="page-link " href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) + 1 %>&help=<%=helpful%>&ord=<%=sort%>#srt"><%= parseInt(page) + 1 %></a></li>
                                    <li class="page-item "><a class="page-link " href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) + 2 %>&help=<%=helpful%>&ord=<%=sort%>#srt"><%= parseInt(page) + 2 %></a></li>
                                    <li class="page-item">
                                      <a class="page-link" href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) + 1 %>&help=<%=helpful%>&ord=<%=sort%>#srt">Next</a>
                                    </li>
                                    <%}else if(mpage + 1 > parseInt(page) + 1 && max==items2.length){ %>
                                      <li class="page-item "><a class="page-link " href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) + 1 %>&help=<%=helpful%>&ord=<%=sort%>#srt"><%= parseInt(page) + 1 %></a></li>
                                      <li class="page-item">
                                        <a class="page-link" href="/forum_details?id=<%= items[0].discussionId %>&page=<%= parseInt(page) + 1 %>&help=<%=helpful%>&ord=<%=sort%>#srt">Next</a>
                                      </li>
                                    <%}%>
                                  </ul>
                        </div>
                    </div>
        </div>
    </div>
    <iframe src="//gwhs.i.gov.ph/gwt-footer/footer-source.html" id="footer-gwt-frame" width="100%" scrolling="no" style="border: 0px; min-height: 188px; margin-bottom: 3px; margin-top: 5%; overflow: hidden; height: auto;"></iframe>  
</div>
<% include ../partials/forum_modal %>
</body>
</div>
<br>
<script>

    $(".del").on("click",function(){
            return confirm("Delete Response?");
    });

    $(".upd").on("click",function(){
            return confirm("Close Discussion?");
    });

    function myFunction() {
        var x = document.getElementById("rrr");
        var r = document.getElementById("rply");
    if (x.style.display === "none") {
        r.style.backgroundColor = "#428bca";
        r.style.color = "white";
        x.style.display = "block";
    } else {
        r.style.backgroundColor = "#e0e0e0";
        r.style.color = "black";
        x.style.display = "none";
    }
    }

    $(document).on('click','#comm',function() {
	var id=$('#id').val();
	var comment=$('#comment').val();
	if(id==""){
		 alert("Please Fill in the Missing Fields!");
		 return false;
	}
	else if(comment==""){
        alert("Please Write a Response!");
        document.getElementById("#comment").style.borderColor = "red";
		return false;
	}
    });

setInterval(function(){
    $('#mydiv').load(document.URL +  ' .llc');
    $('#count1').load(document.URL +  ' #count1');
    $('#count2').load(document.URL +  ' #count2');
}, 5000);

</script>
