<% include ../partials/header %>

<!--
<div class="col-12">
    <h1 class="text-yellow mb-4 mt-5 text-center">HOW CAN WE HELP YOU?</h1>
</div>
-->
<section class="content-section help" id="what-we-do">
		<div class="container-fluid">
			<h2 class="section-title mb-2 h1">HOW CAN WE HELP YOU?</h2>
			<p class="text-center text-muted h5">Lorem ipsum dolor sit amet excepteur sint </p>
			<div class="row mt-5">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
					<div class="card">
						<div class="card-block block-1">
							<h3 class="card-title">FAQ</h3>
							<p class="card-text">Your questions might already be answered.</p>
                            <a href="#portfolio" title="Read more" class="js-scroll-trigger" >Check it here<i class="fa fa-angle-double-right ml-2"></i></a>
                           
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
					<div class="card">
						<div class="card-block block-2">
							<h3 class="card-title">EMAIL US YOUR CONCERN</h3>
							<p class="card-text">Send us your concern through email. Reach us at elearnign@usc.com.</p>
							<a href="javascript:void();" data-toggle="modal" data-target="#exampleModalCenter" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
                    </div>
                    <!-- Modal -->

				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
					<div class="card">
						<div class="card-block block-3">
							<h3 class="card-title">REACH US AT OUR FACEBOOK PAGE.</h3>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
			
			
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
					<div class="card">
						<div class="card-block block-4">
							<h3 class="card-title">CHAT WITH US</h3>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
            </div>
			</div>
		
	</section>
    <!-- /Services section -->
    <section class="contact-area pt-100 pb-100 relative">
       
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="single-contact col-lg-6 col-md-8">
                    <h2 class="text-white">Send Us <span>Message</span></h2>
                    <p class="text-white">
                        Most people who work in an office environment, buy computer products.
                    </p>
                </div>
            </div>
            {{msg}}
            <div class="contact">
            <form id="myForm" action="SendEmail" method="post" class="contact-form">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <input name="email_name" placeholder="Enter your name"class="common-input mt-20" required="" type="text">
                    </div>
                    <div class="col-lg-5">
                        <input name="email_address" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"  class="common-input mt-20" required="" type="email">
                    </div>
                    <div class="col-lg-10">
                        <textarea class="common-textarea mt-20" name="email_message" placeholder="Messege"  required=""></textarea>
                </div>
                <div class="col-lg-10 d-flex justify-content-end">
                    <button class="primary-btn white-bg d-inline-flex align-items-center mt-20"><span class="mr-10">Send Message </span><span class="fas fa-arrow-right"></span></button> <br>
                </div>
                <div class="alert-msg"></div>
                </div>
            </form>
        </div>
        </div>
    </section>
       <!-- Portfolio -->
       <section class="content-section " id="portfolio">
            <div class="container" id="accordion-style-1">
                    <div class="row">
                            <div class="col-12">
                                <h1 class="text-green mb-4 text-center">Frequently Asked Questions</h1>
                            </div>
                            <div class="col-10 mx-auto">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          <i class="fa fa-book main"></i><i class="fa fa-angle-double-right mr-3"></i>Are the subjects limited to STEAM area only?
                                        </button>
                                      </h5>
                                        </div>
            
                                        <div id="collapseOne" class="collapse show fade" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                                Yes, because emphasising these subjects is part of the new educational approach and this system is all about the STEAM learning.<!-- <a href="https://www.fiverr.com/sunlimetech/fix-your-bootstrap-html-and-css3-issues" class="ml-3" target="_blank"><strong>View More designs <i class="fa fa-angle-double-right"></i></strong></a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                         <i class="fa fa-plus main"></i><i class="fa fa-angle-double-right mr-3"></i>Can we put our own course and program instead of the courses listed?
                                        </button>
                                      </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse fade" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            <div class="card-body">
                                                no because the programs and courses listed are the official courses and programs of the steam subjects offered by ched<a href="https://www.fiverr.com/sunlimetech/design-and-fix-your-bootstrap-4-issues" class="ml-3" target="_blank"><strong>View More designs <i class="fa fa-angle-double-right"></i></strong></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          <i class="fa fa-expeditedssl main"></i><i class="fa fa-angle-double-right mr-3"></i>What does this mean when a forum discussion is closed?
                                        </button>
                                      </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse fade" aria-labelledby="headingThree" data-parent="#accordionExample">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.<a href="https://www.fiverr.com/sunlimetech/convert-bootstrap-or-html-to-wordpress-for-global-devices" class="ml-3" target="_blank"><strong>View More designs <i class="fa fa-angle-double-right"></i></strong></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingFour">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                          <i class="fa fa-envelope main"></i><i class="fa fa-angle-double-right mr-3"></i>Can we keep track of our own forum discussions?
                                        </button>
                                      </h5>
                                        </div>
                                        <div id="collapseFour" class="collapse fade" aria-labelledby="headingFour" data-parent="#accordionExample">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.<a href="https://www.fiverr.com/sunlimetech/do-web-development-in-pure-php-and-frameworks" class="ml-3" target="_blank"><strong>View More designs <i class="fa fa-angle-double-right"></i></strong></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingFour">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                          <i class="fa fa-envelope main"></i><i class="fa fa-angle-double-right mr-3"></i>Can we view other users profile?
                                        </button>
                                      </h5>
                                        </div>
                                        <div id="collapseFour" class="collapse fade" aria-labelledby="headingFour" data-parent="#accordionExample">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.<a href="https://www.fiverr.com/sunlimetech/do-web-development-in-pure-php-and-frameworks" class="ml-3" target="_blank"><strong>View More designs <i class="fa fa-angle-double-right"></i></strong></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingFour">
                                            <h5 class="mb-0">
                                        <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                          <i class="fa fa-envelope main"></i><i class="fa fa-angle-double-right mr-3"></i>Can we like our own learning materials, forum discussions, and responses?
                                        </button>
                                      </h5>
                                        </div>
                                        <div id="collapseFour" class="collapse fade" aria-labelledby="headingFour" data-parent="#accordionExample">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.<a href="https://www.fiverr.com/sunlimetech/do-web-development-in-pure-php-and-frameworks" class="ml-3" target="_blank"><strong>View More designs <i class="fa fa-angle-double-right"></i></strong></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>	
                        </div>
            </div>
          </section>
    <!-- .// Accordion -->

</div>

<% include ../partials/footer %>