<% include ../partials/header %>
<span>dsds</span>

<section class="feature-area pt-100 pb-100  relative">
  <div class="overlay overlay-bg"></div>
    
<h2>dsada</h2>
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-sm-6 d-flex align-items-stretch">
        <div class="single-feature">
          <a href="/LearningMaterials">
            <div class="icon">
              <span class="fas fa-book-reader"></span>
            </div>
          </a>
          <div class="desc">
            <h2 class="text-uppercase">Learning Materials </h2>
            <p>
            Lorem ipsum dolor sit amet excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 d-flex align-items-stretch">
        <div class="single-feature">
          <a href="Forum">
          <div class="icon">
            <span class="fab fa-forumbee"></span>
          </div>
        </a>
          <div class="desc">
            <h2 class="text-uppercase">ELS FORUM </h2>
            <p>
              Lorem ipsum dolor sit amet excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 d-flex align-items-stretch">
        <div class="single-feature">
          <div class="icon">
            <span class="fas fa-download"></span>
          </div>
          <div class="desc">
            <h2 class="text-uppercase">Download Materials
            </h2>
            <p>
              Lorem ipsum dolor sit amet excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6   col-sm-6 d-flex align-items-stretch">
        <div class="single-feature">
          <div class="icon">
            <span class="fas fa-chart-line"></span>
          </div>
          <div class="desc">
            <h2 class="text-uppercase">Data Analytics </h2>
            <p>
                    Lorem ipsum dolor sit amet excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
     
    </div>
    
  </div>
</section>

<% include ../partials/footer %>
  
<iframe src="//gwhs.i.gov.ph/gwt-footer/footer-source.html" id="footer-gwt-frame" width="100%" scrolling="no" style="border: 0px; min-height: 188px; margin-bottom: -3px; overflow: hidden; height: auto;"></iframe>
</div>
</body>

<script>
(function($) {
  "use strict"; // Start of use strict

 

  // Smooth scrolling using jQuery easing
 
  


})(jQuery); // End of use strict

// Disable Google Maps scrolling
// See http://stackoverflow.com/a/25904582/1607849
// Disable scroll zooming and bind back the click event
var onMapMouseleaveHandler = function(event) {
  var that = $(this);
  that.on('click', onMapClickHandler);
  that.off('mouseleave', onMapMouseleaveHandler);
  that.find('iframe').css("pointer-events", "none");
}
var onMapClickHandler = function(event) {
  var that = $(this);
  // Disable the click handler until the user leaves the map area
  that.off('click', onMapClickHandler);
  // Enable scrolling zoom
  that.find('iframe').css("pointer-events", "auto");
  // Handle the mouse leave event
  that.on('mouseleave', onMapMouseleaveHandler);
}
// Enable map zooming with mouse scroll when the user clicks the map
$('.map').on('click', onMapClickHandler);

    </script>