<% include ../partials/header %>
<div class="container">
	<div class="row">
		<div class="mx-auto insertMaterialTitle">
			<h2>Post Learning Material</h2>
		</div>
	</div>
</div>
<div class="container">
	<form action="/PostLearningMaterial" method="POST" enctype="multipart/form-data" class="formLearningMaterial" autocomplete="off">
		<div class="row formBody">
			<div class="col-lg-6 offset-lg-3">
				<% if (files) { %>
	                <div class="alert alert-warning alert-dismissible fade show" role="alert">
	                    <strong>Holy guacamole!</strong> There are no files selected.
	                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                </div>
	            <% } %>
	            <% if (input) { %>
	                <div class="alert alert-warning alert-dismissible fade show" role="alert">
	                    <strong>Holy guacamole!</strong> Please fill out all that are marked required.
	                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                </div>
	            <% } %>
	            <% if (wrongfile) { %>
	                <div class="alert alert-danger alert-dismissible fade show" role="alert">
	                    <strong>Holy guacamole!</strong> Upload image, word, powerpoint, excel or pdf files please.
	                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                </div>
	            <% } %>
				<div class="form-group">
					<div class="text-center">
						<h5>General Information</h5>
					</div>
					<div style="margin-bottom: 10px;">
						<span style="color: red;">* Required</span>	
					</div>

					<label for="generalTitle">Material Title <span style="color: red;">*</span></label>
					<input type="text" name="generalTitle" class="form-control" id="generalTitle" placeholder="Enter Title">

					<label for="generalDescription" class="description">Description <span style="color: red;">*</span></label>
					<textarea class="form-control" name="generalDescription" id="generalDescription" rows="5"></textarea>

					<div class="custom-control custom-checkbox checkboxLearningMaterial">
						<input type="checkbox" name="checkbox" class="custom-control-input" id="checkbox">
						<label class="custom-control-label" for="checkbox">Make this downloadable to other schools</label>
					</div>

					<input type="file" name="filename" multiple accept="image/*, .doc, .docx, .pdf, .txt, .xlsx, .pptx">
					<small id="fileHelp" class="form-text text-muted"><i>Upload image, word, powerpoint, excel, pdf or text files</i></small>
				</div>
				<form class="form-group">
					<div class="text-center activityTitle">
						<h5>Add Activity</h5>
					</div>

					<label for="activityTitle">Activity Title <span style="color: red;">*</span></label>
					<input type="text" name="activityTitle" class="form-control" id="_title" placeholder="Enter Title">

					<label for="activityDescription" class="description">Description <span style="color: red;">*</span></label>
					<textarea class="form-control" name="activityDescription" id="_description" rows="5"></textarea>
				</form>
				<div class="form-group">
					<div class="text-center referenceTitle">
						<h5>Add Reference</h5>
					</div>

					<label for="referenceTitle">Reference Title <span style="color: red;">*</span></label>
					<input type="text" name="reference" class="form-control" id="_reference" placeholder="Enter Reference">
				</div>

				<button class="btn btn-dark" type="submit">SUBMIT</button>
			</div>
		</div>
	</form>
</div>