<% include ../partials/header %>

<div class="container">
	<div class="materialContent">
		<div class="row">
			<div class="col-lg-4">
				<h2>List of Learning Material</h2>	
			</div>
			<div class="col-lg-2 offset-lg-6">
				<a href="/InsertMaterial">
					<button class="btn btn-primary"><i class="fas fa-plus"></i> Add Material</button>	
				</a>
			</div>
		</div>
	</div>
	<hr>
</div>

<div class="container">
	<div class="row">
		<% for (var i = 0; i < items.length; i++) { -%>
			<div class="col-lg-4">
				<div class="card course-content">
					<div class="card-body">
						<a href="/LearningMaterial/id=<%= items[i]['post_id'] %>">
							<h4><%= items[i]['title'] %></h4>
							<span><%= items[i]['fName']%> <%= items[i]['lName'] %></span><br><br>
							<span><i><%= items[i]['description'] %></i></span>	
						</a>
					</div>
				</div>
			</div>
		<% } -%>
	</div>
</div>