<% include ../partials/header %>

<div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
            	<li>
            		<a href="#" class="tablinks" onclick="openData(event, 'Info');" id="defaultOpen"><i class="fas fa-info-circle"></i> Info</a>
            	</li>
                <li>
                    <a href="#" class="tablinks" onclick="openData(event, 'Activity');"><i class="fas fa-list"></i> Activities</a>
                </li>
                
                <li>
                    <a href="#" class="tablinks" onclick="openData(event, 'Video');"><i class="fas fa-video"></i> Videos</a>
                </li>
                <li>
                    <a href="#" class="tablinks" onclick="openData(event, 'File');"><i class="far fa-file"></i> Files</a>
                </li>
                <li>
                    <a href="#" class="tablinks" onclick="openData(event, 'Reference');"><i class="fas fa-glasses"></i> References</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

        	<div id="Info" class="tabcontent">
        		<h2><%= info[0]['title'] %></h2><span>by <i><%= info[0]['fName'] %> <%= info[0]['lName'] %></i></span><br><br>
        		<h4><i><%= info[0]['description'] %></i></h4>
        	</div>

        	<div id="Activity" class="tabcontent">
        		<div class="row">
        			<div class="col-lg-4">
        				<h2>List of activities</h2>	
        			</div>
        			<div class="col-lg-2 offset-lg-6">
        				<a href="/addactivity/id=<%= info[0]['post_id']%>"><button class="btn btn-dark"><i class="fas fa-plus"></i></button></a>
        				<a href="/deleteallactivity/id=<%= info[0]['post_id']%>"><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
        			</div>
        		</div>
        		<% if (activity === undefined || activity.length == 0) { -%>
        			<span>There are no activities available...</span>
        		<% } -%>
        		<div class="row activityContent">
        			<% for (var i = 0; i < activity.length; i++) { -%>
	        			<div class="col-lg-6">
	        				<h4><%= activity[i]['activity_title']%></h4>
	        				<span><%= activity[i]['activity_content']%> <a href="/updateactivity/id=<%= activity[i]['suggested_activity_id']%>"><button class="btn btn-success"><i class="fas fa-pencil-alt"></i></button></a> <a href="/deleteactivity/id=<%= activity[i]['suggested_activity_id']%>"><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a></span>
	        			</div>	
	        		<% } -%>
        		</div>
        		
        	</div>

        	<div id="Video" class="tabcontent">
        		<div class="row">
        			<div class="col-lg-4">
        				<h2>List of video</h2>	
        			</div>
        			<div class="col-lg-2 offset-lg-6">
        				<a href="/addvideo/id=<%= info[0]['post_id']%>"><button class="btn btn-dark"><i class="fas fa-plus"></i></button></a>
        				<a href="/deleteallvideo/id=<%= info[0]['post_id']%>"><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
        			</div>
        		</div>
        		<% if (video === undefined || video.length == 0) { -%>
        			<span>There are no videos available...</span>
        		<% } -%>
        		<div class="row videoContent">
        			<% for (var i = 0; i < video.length; i++) { -%>
        				<div class="col-lg-6">
        					<h4><%= video[i]['video_title']%> <a href="/updatevideo/id=<%= video[i]['video_id']%>"><button class="btn btn-success"><i class="fas fa-pencil-alt"></i></button></a> <a href="/deletevideo/id=<%= video[i]['video_id']%>"><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a></h4>
        					<video width="320" height="240" controls>
        						<source src="/uploads/<%= video[i]['filename']%>" type="<%= video[i]['filetype']%>">
        					</video>

        				</div>
        			<% } -%>
        		</div>
        	</div>

        	<div id="File" class="tabcontent">
        		<div class="row">
        			<div class="col-lg-4">
        				<h2>List of files</h2>	
        			</div>
        			<div class="col-lg-2 offset-lg-6">
        				<a href="/addfile/id=<%= info[0]['post_id']%>"><button class="btn btn-dark"><i class="fas fa-plus"></i></button></a>
        				<a href="/deleteallfile/id=<%= info[0]['post_id']%>"><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
        			</div>
        		</div>
        		<% if (file === undefined || file.length == 0) { -%>
        			<span>There are no files available...</span>
        		<% } -%>
        		<div class="row fileContent">
        			<% for (var i = 0; i < file.length; i++) { -%>
        				<div class="col-lg-12">	
	    					<h6><%= file[i]['filename']%> <a href="/download/id=<%= file[i]['file_id']%>"><button class="btn btn-dark"><i class="fas fa-download"></i></button></a> <a href="/deletefile/id=<%= file[i]['file_id']%>"><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a></h6>
        				</div>
        			<% } -%>
        		</div>
        	</div>

        	<div id="Reference" class="tabcontent">
        		<div class="row">
        			<div class="col-lg-4">
        				<h2>List of reference</h2>	
        			</div>
        			<div class="col-lg-2 offset-lg-6">
        				<a href="/addreference/id=<%= info[0]['post_id']%>"><button class="btn btn-dark"><i class="fas fa-plus"></i></button></a>
        				<a href="/deleteallreference/id=<%= info[0]['post_id']%>"><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
        			</div>
        		</div>
        		<% if (reference === undefined || reference.length == 0) { -%>
        			<span>There are no reference available...</span>
        		<% } -%>
        		<div class="row referenceContent">
        			<% for (var i = 0; i < reference.length; i++) { -%>
        				<div class="col-lg-6">
        					<h4><%= reference[i]['reference']%> <a href="/updatereference/id=<%= reference[i]['reference_id']%>"><button class="btn btn-success"><i class="fas fa-pencil-alt"></i></button></a> <a href="/deletereference/id=<%= reference[i]['reference_id']%>"><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a></h4>	
        				</div>
        			<% } -%>
        		</div>
        	</div>

        </div>
    </div>
<script>
	document.getElementById("defaultOpen").click();
	function openData(evt, name) {

		console.log(name);
		// Declare all variable
		var i, tabcontent, tablinks;

		// Get all elements with class "tabcontent" and hide them
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i=0; i<tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}

		// Get all elements with class "tablinks" and remove class
		tablinks = document.getElementsByClassName("tablinks");
		for (i=0; i<tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}

		// Show the current tab, and add an "active" class to the link that opened the tab
		document.getElementById(name).style.display = "block";
		evt.currentTarget.className += " active";
	}

	
</script>