<% include ../partials/head %>
<div class="limiter">
	<div class="container-login100" style="background-image: url('../img/img-01.jpg');">
		<div class="wrap-login100 p-t-190 p-b-30">
			<form class="login100-form validate-form" id="loginform" method="POST" action="http://localhost:3000/Login">
				<div class="login100-form-avatar">
					<img src="img/ched.png" alt="AVATAR">
				</div>
				
				<span class="login100-form-title-new p-t-20 ">
					Commission on Higher Education	
				</span>
				<span class="login100-form-title  p-b-35">
					E-Learning Management System	
				</span>
              <div class="login-error100 p-t-10 m-b-10">
								<strong>Invalid username or password. Please try again.</strong>

							</div>
				<div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
					<input class="input100" id="inputEmail" type="text" name="email" placeholder="Username">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
					<input class="input100"id="inputPassword"  type="password" name="password" placeholder="Password">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock"></i>
					</span>
				</div>

				<div class="container-login100-form-btn p-t-10">
					<button class="login100-form-btn" type="submit">
						Login
					</button>
				</div>

				<div class="text-center w-full p-t-25 p-b-230">
					<a href="#" class="txt1">
						Forgot Username / Password?
					</a>
				</div>

				<div class="text-center w-full">
					<a class="txt1" href="#">
						All Rights Reserved 2018
										
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
