<% include ../partials/header %>
<body>
<div class="span3">
    <h2>Sign Up</h2>
    <form>
    <label>First Name</label>
    <input type="text" name="firstname" class="span3"><br>
    <label>Last Name</label>
    <input type="text" name="lastname" class="span3"><br>
    <label>Middle Name</label>
    <input type="text" name="lastname" class="span3"><br>
    <label>Position</label>
    <input type="text" name="lastname" class="span3" placeholder="Registrar" value="Registrar"><br>
    <label>Educational Attainment</label>
    <input type="text" name="lastname" class="span3" placeholder="Doctorate" value="Doctorate"><br>
    <label>Year Graduated</label>
    <input type="number" name="lastname" class="span3" placeholder="1980" value="1981"><br>
    <label>School Graduated</label>
    <input type="text" name="lastname" class="span3" value="University of San Carlos" placeholder="University of San Carlos"><br>
    <label>Gender</label>
    <input type="text" name="lastname" class="span3" value="Male" placeholder="Male"><br>
    <label>Specialization</label>
    <input type="text" name="lastname" class="span3" placeholder="MSIT" value="MSIT"><br>
    <label>Date Hired</label>
    <input type="number" name="lastname" class="span3" placeholder="2000-12-31" value="2000-12-31"><br>
    <label>Email Address</label>
    <input type="email" name="email" class="span3"><br>
 
    <label>Password</label>
    <input type="password" name="password" class="span3">
   <br>
    <input type="submit" value="Sign up" class="btn btn-primary ">
    <div class="clearfix"></div>
    </form>
</div>
</body>