<% include ../partials/header %>
<div class='container-fluid'>
        <div class='card'>
          <h2 class="card-title">Create New Course</h2>
        
          <h6>Suppossing Faculty ID = 0 and Faculty degree = Doctoral</h6>
                <form action="http://localhost:3000/" method="POST" class="form-size">
                    <div class='card-body'>
                  <table class='uk-table'>
                      
                  <div class='form-group'>
                      <tr>
                          <td align='center'><label for='name'>Course Description</label></td>
                         
                          <td><input type="text" class='form-control' name="course_desc" id="name" required></td>
                      </tr>
                  </div>
                  
                  <div class='form-group'>
                      <tr>
                          
                          <td align='left'><label for='address' >Program</label></td>
                          <td> 
                             
                              <select class="form-control" id="sel1" name="course_prog" required>
                                  <% items.forEach(function(item, index) { %>
                                    <%= index + 1 %>
                                  
                                    <option><%=  item.courseDesc %></option>
                                  <% }); %>
                              
                                 
                              </select>
                          </td>
                      </tr>
                  </div>
                  <div class='form-group'>
                      <tr>
                          <td left='center'><label for='contact'>Program Degree</label></td>
                          <td>
                              
                              <select class="form-control" id="sel2" name="course_deg" required>
                              
                                            <option>Bachelor</option>
                                            <option>Masteral</option>
                                            <option>Doctoral</option>
                                    
                                         
                                         
                                  
                               </select>
                          </td>
                      </tr>
                  </div>
                  </table>
                  <br>
                  <button  class='btn btn-primary btn-lg pull-right' id='submit' name='submit' type='submit'>+ Create Course</button>
                  </form>
            </div>
        </div>
    </div>
    

 
<div class='card' id='subjects'>
    <ul class='list-inline'>
          <li class="list-inline-item">Science</li>
          <li class="list-inline-item">Technology</li>
          <li class="list-inline-item">Engineering</li>
          <li class="list-inline-item">Agriculture</li>
          <li class="list-inline-item">Fisheries</li>
          <li class="list-inline-item">Mathematics</li>
    </ul>
</div>
<% include ../partials/footer %>