<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="mx-auto insertVideoTitle">
            <h2 class="titleUploadVideo">Upload Video</h2>
        </div>
    </div>
</div>
<div class="container">
    <form action="/UploadVideo" method="POST" enctype="multipart/form-data" autocomplete="off" role="form">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">

                <% if (wrongfile) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Holy guacamole!</strong> Please upload video only!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>

                <% if (nofile) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Holy guacamole!</strong> No file is being selected.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>

                <% if (input) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Holy guacamole!</strong> Please fill out required fields.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>

                <div class="form-group">
                    <label for="videoTitle">Video Title <span style="color: red;">*</span></label>
                    <input type="text" name="videoTitle" class="form-control">

                    <input type="file" name="video" accept="video/*" style="margin-top: 15px;">
                    <small id="fileHelp" class="form-text text-muted"><i>Upload videos only</i></small>
                </div>	
                <button type="submit" class="btn btn-dark">SUBMIT</button>
            </div>	
        </div>
    </form>
</div>
</body>